.contact-list {
    margin-bottom: 30px;
}

.formContacts {
    display: block;
    text-align: center;
}

.type-input {
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
}

.contact-item {
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 20px;
    background-color: lightyellow;
}

.contact-item.done {
    background-color: lightgreen;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    margin-right: 400px;
    margin-left: 400px;
}

.add-btn {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 30px;
}

.container-of-items {
    display: flex;
    justify-content: space-between;
    margin-right: 400px;
    margin-left: 400px;
    border: 1px solid #223311;
    padding: 10px 20px;
    background-color: bisque;
    font-size: larger;
}

.btn {
    margin-left: 30px;
    display: block
}

fieldset {
    height: 100%;
}

.inputs {
    margin-bottom: 20px;
    /* width: 100%; */
    padding: 10px;
}